#week-content h3 {
    @apply not-first:mt-8;
}

#week-content h3::before {
    content: '↳';
    color: pink;
    @apply pr-2;
}

#week-content a {
    @apply underline underline-offset-2;
}

#week-content .weekly-schedule {
    @apply mt-8;
}

#week-content .weekly-schedule a {
    @apply no-underline;
}

#week-content .weekly-schedule .description {
    @apply hidden;
}

#week-content .weekly-schedule .smaller-h1::after {
    content: ": ";
}

#week-content .weekly-schedule ul div * {
    @apply inline;
}

#week-content .weekly-schedule ul {
    @apply flex flex-row flex-wrap !max-w-none w-full;
}

#week-content .weekly-schedule div:not(:last-of-type) li::after {
    content: ", ";
    padding-right: .25em;
}

/* list style */

.long-description ul {
    @apply my-4;
}

.long-description ul li {
    @apply list-decimal ml-7 pl-0;
}

.long-description strong {
    font-style: normal;
    text-decoration: yellowgreen wavy underline;
}

#week-header {
    @apply flex flex-col justify-between
}