---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import QuickLinks from "@/components/QuickLinks.astro";
import CourseInfo from "@/components/CourseInfo.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header>
      <h1>{SITE_TITLE}</h1>
      <p>{SITE_DESCRIPTION}</p>
    </header>

    <main>
      <CourseInfo />
      <QuickLinks />

      <nav class="weekly-schedule">
        <h2>Weekly Schedule</h2>
        <Nav />
      </nav>
    </main>

    <Footer />
  </body>
</html>
