---
import { LOCATION, OFFICE_HOURS, SYLLABUS_LINK } from "@/consts";
---

<section>
  <h2>Quick Links</h2>
  <ul>
    <li><a href={SYLLABUS_LINK}>Syllabus</a></li>
  </ul>
  <ul>
    <li><a href={OFFICE_HOURS}>Office Hours</a></li>
  </ul>
  <ul>
    <li><a href={LOCATION}>Location</a></li>
  </ul>
</section>
